/*Reset*/
*{
	margin: 0;
	padding: 0;
	font-family: calibri;
}
html{
	text-align: center;
	font-size: 16px;
	
}

#content{
	width: 67.5%;
	margin: 0 auto;
	
}
#content h1, h5, p {
	text-align: left;
}

#content h1{
	color: #069;
	margin: 1.0416% 1.0416% 1.0416% 0;
	font-size: 2em;

}
#content img{
	width: 100px;
	vertical-align: middle;
}
#content h5{
	color: #f00;
	border-left: 2px solid #f00;
	padding: 5px;
	margin-left: 30px;
	font-size: 0.875em;
	font-family: Courier;
}
#content p{
	font-size: 1.125em;
	margin: 3.208% 0;
	line-height: 25px;
	
}